include header.pug
div#profile-wrapper 
    div#nav-menu
     nav.sidebar-navigation
       ul
        li
         a(href="http://localhost:3000/allPosts")
          i.fa-solid.fa-shop
          span.tooltip All Posts
        li.active
         a(href="http://localhost:3000/create-post")
          i.fa-solid.fa-file-circle-plus
          span.tooltip Create Post
        li
         a(href="http://localhost:3000/post")
          i.fa-solid.fa-person
          span.tooltip My Posts
        li
         a(href="http://localhost:3000/userProfile")
          i.fa-solid.fa-address-card
          span.tooltip My Profile
        li
          i.fa.fa-sliders
          span.tooltip Settings          
    div#outer-post-container
        .login-box
          h2 Add Blog Post
          form#loginForm()
           .user-box
             input(type='text', name='title', id='title', required)
             label(for='title') Title:

           .user-box
             select(name='category', id='category', required)
                option(value='general' disabled selected) Category
                option(value='general') general
                option(value='sports') sports
                option(value='entertainment') entertainment
                option(value='politics') politics
                option(value='travel') travel
           .user-box
              input(name='description', id='description', rows='4', required)    
              label(for='description') Description:
           .user-box          
                  
              label(for='image_url') Select Your Image
              button#choose-file.custom-btn
               span
                | Upload Image
           button#addPostButton(type='submit' class="custom-btn")
            span 
             | Add Post

    div#users-list-container
      #active-user-div
        h3.toggle-active-users Users Online
         span#userCount
        .active-users
          ul#activeUsersList

    div#right-div
     .container-right#private-chat-container
      .private-chat-modal#privateChatModal
        .modal-content#privateChatContent
        i.fa-solid.fa-xmark.xmark-styles#close-button
      .message-container#post
      br
      input#messageInput.message-input(placeholder='Type your message...')
      button(id="send-private-message"  class='send-button')
        i.fa-solid.fa-share.send-icon

script(src='https://cdn.socket.io/4.0.0/socket.io.min.js')
script(src='/js/index.js')
script(src='/js/chat.js')
script(src='/js/privateChat.js')
script(src='/js/userCount.js')
script(src='/js/createPostButton.js')
script(src='/js/searchBar.js')
script(src="/js/logout.js")
