doctype html
html
  head
    title Forget Password
    link(rel='stylesheet', href='/css/login.css')
  body
    .login-box
      h2 Enter Your Email
      form#loginForm
        .user-box
          input(type='email', id='email', name='email', required)
          label(for='email') Email
        button#forgotPassword(type='button') Send Reset Link
  script(src='https://cdn.socket.io/4.0.0/socket.io.min.js')
  script(src='/js/forgetPassword.js')
     