doctype html
html
  head
    title Reset Password
    link(rel='stylesheet', href='/css/login.css')
  body
    .login-box
      h1 Reset Password
      p Welcome, #{user.username}!
      p Email: #{user.email}
      form#reset-password-form
         .user-box
          input(type='password', id='newPassword', name='newPassword', required)
          label(for='newPassword') New Password
         .user-box
          input(type='password', id='confirmPassword', name='confirmPassword', required)
          label(for='confirmPassword') Confirm Password
         button#reset-password-button(type='submit' class="custom-btn")
          | Reset Password
  script(src = "/js/resetPassword.js")
